h1{
    padding-left: 20px;
}
#banner{
    width: 100%;
}

.sobre{
    background-color: #cccccc;
    padding: 30px;
}

strong{
    color: red;
}

h2{
    text-align: center;
}

.beneficios{
    background-color: white;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.itens{
    font-style: italic;
}